$color-bg: rgba(60, 62, 67, 1);
$color-front: rgba(252, 252, 253, 1);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: $color-bg;
}

body,
.main {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  row-gap: 1.25rem;
}

#root {
  width: 100%;
  height: 100%;
  background: $color-bg;
}
